@font-face {
  font-family: 'SF Pro Text';
  src: url('https://github.com/G3tFun/hehe/raw/refs/heads/main/SFProText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
